/*
 * ==================
 * main.css
 * ==================
 * 
 * Contains code derived from bnissen24's week2CSS/mediaQueries/
 * remote GitHub repository that has been commented and altered
 *
 * Contains code derived from W3Schools that has been altered
 */
html, body {
	/* Set so that the application will be the width of the browser */
	min-height: 100%; 

	margin: 0;
	padding: 0;

	/* J.G.: Shade of dark green to match Untouchable's background */
	background-color: rgb(17, 61, 0); 

	font-family: "Arial Black", Gadget, sans-serif;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(92, 226, 2);
  	position: sticky;
  	top: 0;

}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: rgb(243, 255, 232);
}

ul.topnav li a.active {
	background-color: rgb(17, 61, 0);
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {
		float: none;
	}
}

ul.productDetails {
	list-style-type: none;
}

/*
 * Code from main.css (of the GitHub repo)
 */
.main-container {
	background-color: rgb(92, 226, 2);
}

.main-container {
	margin: 12px auto;
	padding: 15px;
}

.carousel {
	width: 100%;
	height: 400px;
	position: relative;
}

.carousel .slide {
	opacity: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	-webkit-transition: all ease-in-out 1s;
	transition: all ease-in-out 1s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.carousel .slide.active {
	opacity: 1;
}

.carousel .slide img {
	height: calc(100% - 63px);
	width: 100%;
}

.carousel .slide h3 {
	color: #bfbfbf;
	font-weight: 700;
	background-color: #666;
	padding: 15px;
	margin: 0;
	z-index: 2;
}

.landing-body {
	padding: 20px 12px;
}

footer {
	padding: 15px;
	margin: 12px -15px -15px;
	background: rgb(2, 1, 0);;
	color: #FFF;
	display: flex;
	align-items: space-around;
}

footer p {
	flex: 1 1 auto;
}

.list-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-list {
	display: flex;
}

.product-list .product-item {
	flex: 0 0 225px;
    height: 260px;
	margin: 15px;
}

.product-list .product-item img {
	width: 100%;
	height: calc(100% - 45px);
}

.product-list .product-item .product-data {
	display: flex;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(2, 1, 0);
	font-weight: 700;
	background-color: rgb(80, 215, 0);
	padding: 10px;
}

.product-list .product-item .product-data h4 {
	font-size: 16px;
	margin: 0;
}

@media only screen and (max-width: 1000px) {
	footer {
		flex-direction: column;
	}

	footer .text-right {
		text-align: left !important;
	}

	.product-list .product-item {
		flex: 0 0 315px;
	}

	.product-list {
		flex-direction: column;
	}

	.filter-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.product-info {
	display: flex;
	flex-direction: row-reverse;
}

.product-info .product-metadata {
	flex: 1 1 auto;
	margin-top: 40px;
}

.product-info .header-info {
	flex: 0 0 300px;
}

.product-info .header-info #price {
	text-align: center;
}

.product-info .header-info .btn {
	margin: auto;
	display: block;
}

.product-info .header-info img {
	width: 100%;
}

@media only screen and (max-width: 760px) {
	.product-list .product-item {
		flex: 0 0 calc(100% - 24px);
		display: flex;
		flex-direction: row;
		height: 100px;
	}

	.product-list .product-item img {
		flex: 0 0 100px;
	    height: 100px;
	    width: 100px;
	}

	.product-list .product-item .product-data {
		flex: 1 1 auto;
    	height: 100px;
	}

	.product-info {
		flex-direction: column;
	}

	ul.topnav li.right, 
	ul.topnav li {
		float: none;
}